@import "buttons_vars";

/*
   ====================================
   BUTTONS
   ====================================
*/

.btn,
.button,
button {
  @include inline-block();
  vertical-align: top;
  text-decoration: none;
  font-family: $screenfont;
  font-size: 100%;
  padding: 0.5em 1em;
  margin: 0;
  cursor: pointer;
  border: 1px solid $btn_border_color;
  line-height: normal; /* must be normal because of firefox bug: http://cbjdigital.com/blog/2010/08/bulletproof_css_input_button_heights*/
  @include border-radius($border_radius);

  color: $btn_text_color;
  text-shadow: 0 1px 0 rgba($white_color, 0.7);
  @include linear_gradient(lighten($btn_neutral_color, 10%), lighten($btn_neutral_color, 15%), $btn_neutral_color);
  @include box-shadow($btn_shadow_reflection_light); /* inside reflection */

  &:hover {
    border-color: darken($btn_border_color, 5%);
    @include linear_gradient(lighten($btn_neutral_color, 13%), $white_color, lighten($btn_neutral_color, 6%));
  }

  &:active {
    color: rgba($btn_text_color, 0.9);
    @include text-shadow(0 -1px 0 rgba($black_color, 0.05));
    @include linear_gradient(lighten($btn_neutral_color, 3%), lighten($btn_neutral_color, 3%), lighten($btn_neutral_color, 3%));
    @include box-shadow(none);
  }

  /* ----------------------- */
  /* color */

  &.primary,
  &.btn-primary,
  &.warning:hover,
  &.btn-warning:hover,
  &.danger,
  &.btn-danger,
  &.danger:hover,
  &.btn-danger:hover,
  &.success:hover,
  &.btn-success:hover { /* set white text on dark backgrounds */
    color: $btn_white_text_color;
    @include text-shadow(0 -1px 0 rgba($black_color, 0.25));
    @include box-shadow($btn_shadow_reflection_dark);

    &:active {
      color: rgba($btn_white_text_color, 0.95);
      @include text-shadow(0 -1px 0 rgba($black_color, 0.45));
      @include box-shadow(none);
    }
  }

  &.primary,
  &.btn-primary { /* primary button */
    border-color: lighten($btn_primary_color, 13%);
    @include linear_gradient(($btn_primary_color, 7%), lighten($btn_primary_color, 18%), $btn_primary_color);

    &:hover {
      border-color: lighten($btn_primary_color, 15%);
      @include linear_gradient(($btn_primary_color, 11%), lighten($btn_primary_color, 22%), lighten($btn_primary_color, 5%));
    }

    &:active {
      border-color: $btn_primary_color;
      @include linear_gradient(lighten($btn_primary_color, 4%), darken($btn_primary_color, 3%), lighten($btn_primary_color, 3%), 10%);
    }
  }

  &.warning,
  &.btn-warning { /* warning */
    color: lighten($btn_danger_color, 7%);

    &:hover {
      border-color: lighten($btn_danger_color, 5%);
      @include linear_gradient(lighten($btn_danger_color, 5%), lighten($btn_danger_color, 13%), $btn_danger_color);
    }

    &:active {
      @include linear_gradient(darken($btn_danger_color, 1%), darken($btn_danger_color, 7%), lighten($btn_danger_color, 3%), 10%);
    }
  }

  &.danger,
  &.btn-danger {
    border-color: lighten($btn_danger_color, 5%);
    @include linear_gradient(lighten($btn_danger_color, 5%), lighten($btn_danger_color, 13%), $btn_danger_color);

    &:hover {
      @include linear_gradient(lighten($btn_danger_color, 8%), lighten($btn_danger_color, 22%), lighten($btn_danger_color, 2%));
    }

    &:active {
      @include linear_gradient(darken($btn_danger_color, 1%), darken($btn_danger_color, 7%), lighten($btn_danger_color, 3%), 10%);
    }
  }


  &.success,
  &.btn-success { /* success */
      color: lighten($btn_success_color, 7%);

      &:hover {
        border-color: lighten($btn_success_color, 5%);
        @include linear_gradient(lighten($btn_success_color, 5%), lighten($btn_success_color, 13%), $btn_success_color);
      }

      &:active {
        @include linear_gradient(darken($btn_success_color, 1%), darken($btn_success_color, 7%), lighten($btn_success_color, 3%), 10%);
      }
    }

  /* ----------------------- */
  /* size *//* does also contain styles for button icons. Overides normal button styles */


  &.mini,
  &.btn-mini {
    font-size: 75%;
    &.icon {
      & > i {
        top:1px;
        left: 9px;
      }
      & > .btn {
        padding-left:26px;
      }
    }
    &:not(.icon) {
      padding-bottom: 0.25em;
      padding-top: 0.25em;
      & > i[class*="_icon-"] {
        top: -3px;
      }
    }

  }

  &.small,
  &.btn-small {
    font-size: 85%;

    &.icon {
      & > i {
        top:3px;
        left: 9px;
      }

      & > .btn {
        padding-left:28px;
      }
    }

    &:not(.icon) {
      padding-bottom: 0.35em;

      & > i[class*="_icon-"] {
        top: -2px;
      }
    }
  }

  &.large,
  &.btn-large {
    font-size: 125%;

    &.icon {
      & > i {
        top:8px;
        left: 14px;
      }

      & > .btn {
        padding-left:36px;
      }
    }

    &:not(.icon) > i[class*="_icon-"] {
      top: 0px;
    }
  }

  &.huge,
  &.btn-huge {
    font-size: 155%;

    &.icon {
      & > i {
        top:11px;
        left: 19px;
      }

      & > .btn {
        padding-left:39px;
      }
    }

    &:not(.icon) > i[class*="_icon-"] {
      top: 2px;
    }
  }

  /* ----------------------- */
  /* disabled */

  &.disabled,
  &[disabled] { /* common for light buttons */
    &,
    &:hover,
    &:active {
      color: rgba($btn_text_color, 0.5);
      text-shadow: 0 -1px 0 rgba($white_color, 0.9);
      cursor: default;
      border-color: lighten($btn_border_color, 7%);
      @include linear_gradient(lighten($btn_neutral_color, 14%), lighten($btn_neutral_color, 17%), lighten($btn_neutral_color, 6%));

      &.warning,
      &.btn-warning  {
        color: rgba($btn_danger_color, 0.47);
      }
    }
  }

  /* ----------------------- */
  /* processing */

  &.processing {
    &,
    &:hover,
    &:active {
      @include background(
        url("images/spinner.gif") no-repeat 50% 50%,
        linear-gradient(lighten($btn_neutral_color, 17%), lighten($btn_neutral_color, 6%)));
    }
  }

  /* ----------------------- */
  /* buttons with icons *//* contains styles for normal button size */

  &.icon {
    padding-left: 28px;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
    }

    i,
    &:before {
      position: absolute;
      top: 4px;
      left: 13px;
    }

    & > .btn,
    & > .button { /* for inputs - submit (need to be in special div) */
      border: 0;
      padding-left: 32px;
      display: inline-block;
      background: none;
      @include filter-gradient($transparent_white_color, $transparent_white_color);
      @include box-shadow(none);
    }
  }

  &:not(.icon) {
    & > i[class*="_icon-"] {
      position: relative;
    }
  }
}


// reset padding for outer button div
div.btn.icon {
  padding: 0;
  display: inline-block;
}

// quite useful reset feature
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ----------------------- */
/* groups */

.btn-group,
.btn_group {

  /* standart-groups */
  &:not(.btn-group-vertical) {
    display: inline-block;
    white-space: nowrap;

    .btn,
    .button,
    button {
      float: left;
      display: inline-block;
      border-left-width: 0;
      @include border-radius(0);

      &:first-child {
        border-left-width: 1px;
        @include border-radius($border_radius 0 0 $border-radius);
      }

      &:last-child {
        @include border-radius(0 $border_radius $border-radius 0);
      }

      &:first-child:last-child {
        @include border-radius($border_radius);
      }
    }

    form { /* for rails button_to helper (creates form > div > input) */
      display: inline-block;

      div {
        float: left;

      }

      &:first-child {
        .btn,
        .button,
        button {
          border-left-width: 1px;
          @include border-radius($border_radius 0 0 $border-radius);
        }
      }

      &:last-child {
        .btn,
        .button,
        button {
          @include border-radius(0 $border_radius $border-radius 0);
        }
      }
    }
  }
}

 /* vertical groups */
 /* TBD - same width, remove double-border, correct border-radius, add example to app */
.btn_group_vertical,
.btn-group-vertical {
  display: inline-block;

  .btn,
  .button,
  button {
    display:block;
    max-width: 100%;
    @include border-radius(0);

    &:first-child {
      @include border-radius($border_radius $border-radius 0 0);
    }

    &:last-child {
      @include border-radius(0 0 $border_radius $border-radius);
    }
  }
}
